Stockify/.net/StockifyWeb/Connected Services/StockifyWS/CategoriaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.stockify.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CategoriaWS" targetNamespace="http://services.stockify.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/StockifyWS/CategoriaWS?xsd=1" namespace="http://services.stockify.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCategorias">
    <part name="parameters" element="tns:listarCategorias" />
  </message>
  <message name="listarCategoriasResponse">
    <part name="parameters" element="tns:listarCategoriasResponse" />
  </message>
  <message name="obtenerCategoria">
    <part name="parameters" element="tns:obtenerCategoria" />
  </message>
  <message name="obtenerCategoriaResponse">
    <part name="parameters" element="tns:obtenerCategoriaResponse" />
  </message>
  <message name="guardarCategoria">
    <part name="parameters" element="tns:guardarCategoria" />
  </message>
  <message name="guardarCategoriaResponse">
    <part name="parameters" element="tns:guardarCategoriaResponse" />
  </message>
  <message name="eliminarCategoria">
    <part name="parameters" element="tns:eliminarCategoria" />
  </message>
  <message name="eliminarCategoriaResponse">
    <part name="parameters" element="tns:eliminarCategoriaResponse" />
  </message>
  <portType name="CategoriaWS">
    <operation name="listarCategorias">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/listarCategoriasRequest" message="tns:listarCategorias" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/listarCategoriasResponse" message="tns:listarCategoriasResponse" />
    </operation>
    <operation name="obtenerCategoria">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/obtenerCategoriaRequest" message="tns:obtenerCategoria" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/obtenerCategoriaResponse" message="tns:obtenerCategoriaResponse" />
    </operation>
    <operation name="guardarCategoria">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/guardarCategoriaRequest" message="tns:guardarCategoria" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/guardarCategoriaResponse" message="tns:guardarCategoriaResponse" />
    </operation>
    <operation name="eliminarCategoria">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/eliminarCategoriaRequest" message="tns:eliminarCategoria" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/CategoriaWS/eliminarCategoriaResponse" message="tns:eliminarCategoriaResponse" />
    </operation>
  </portType>
  <binding name="CategoriaWSPortBinding" type="tns:CategoriaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCategorias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CategoriaWS">
    <port name="CategoriaWSPort" binding="tns:CategoriaWSPortBinding">
      <soap:address location="http://localhost:8080/StockifyWS/CategoriaWS" />
    </port>
  </service>
</definitions>