Stockify/.net/StockifyWeb/Connected Services/StockifyWS/EmpresaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.stockify.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmpresaWS" targetNamespace="http://services.stockify.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/StockifyWS/EmpresaWS?xsd=1" namespace="http://services.stockify.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEmpresas">
    <part name="parameters" element="tns:listarEmpresas" />
  </message>
  <message name="listarEmpresasResponse">
    <part name="parameters" element="tns:listarEmpresasResponse" />
  </message>
  <message name="eliminarEmpresa">
    <part name="parameters" element="tns:eliminarEmpresa" />
  </message>
  <message name="eliminarEmpresaResponse">
    <part name="parameters" element="tns:eliminarEmpresaResponse" />
  </message>
  <message name="obtenerEmpresa">
    <part name="parameters" element="tns:obtenerEmpresa" />
  </message>
  <message name="obtenerEmpresaResponse">
    <part name="parameters" element="tns:obtenerEmpresaResponse" />
  </message>
  <message name="guardarEmpresa">
    <part name="parameters" element="tns:guardarEmpresa" />
  </message>
  <message name="guardarEmpresaResponse">
    <part name="parameters" element="tns:guardarEmpresaResponse" />
  </message>
  <portType name="EmpresaWS">
    <operation name="listarEmpresas">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/listarEmpresasRequest" message="tns:listarEmpresas" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/listarEmpresasResponse" message="tns:listarEmpresasResponse" />
    </operation>
    <operation name="eliminarEmpresa">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/eliminarEmpresaRequest" message="tns:eliminarEmpresa" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/eliminarEmpresaResponse" message="tns:eliminarEmpresaResponse" />
    </operation>
    <operation name="obtenerEmpresa">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/obtenerEmpresaRequest" message="tns:obtenerEmpresa" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/obtenerEmpresaResponse" message="tns:obtenerEmpresaResponse" />
    </operation>
    <operation name="guardarEmpresa">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/guardarEmpresaRequest" message="tns:guardarEmpresa" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/EmpresaWS/guardarEmpresaResponse" message="tns:guardarEmpresaResponse" />
    </operation>
  </portType>
  <binding name="EmpresaWSPortBinding" type="tns:EmpresaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEmpresas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmpresaWS">
    <port name="EmpresaWSPort" binding="tns:EmpresaWSPortBinding">
      <soap:address location="http://localhost:8080/StockifyWS/EmpresaWS" />
    </port>
  </service>
</definitions>