Stockify/.net/StockifyWeb/Connected Services/StockifyWS/EmpresaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarEmpresa" type="tns:eliminarEmpresa" />
  <xs:element name="eliminarEmpresaResponse" type="tns:eliminarEmpresaResponse" />
  <xs:element name="guardarEmpresa" type="tns:guardarEmpresa" />
  <xs:element name="guardarEmpresaResponse" type="tns:guardarEmpresaResponse" />
  <xs:element name="listarEmpresas" type="tns:listarEmpresas" />
  <xs:element name="listarEmpresasResponse" type="tns:listarEmpresasResponse" />
  <xs:element name="obtenerEmpresa" type="tns:obtenerEmpresa" />
  <xs:element name="obtenerEmpresaResponse" type="tns:obtenerEmpresaResponse" />
  <xs:complexType name="listarEmpresas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="tns:tipoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpresa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="PROVEEDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>