Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenIngresoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.stockify.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenIngresoWS" targetNamespace="http://services.stockify.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/StockifyWS/OrdenIngresoWS?xsd=1" namespace="http://services.stockify.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarOrdenesIngreso">
    <part name="parameters" element="tns:listarOrdenesIngreso" />
  </message>
  <message name="listarOrdenesIngresoResponse">
    <part name="parameters" element="tns:listarOrdenesIngresoResponse" />
  </message>
  <message name="obtenerOrdenIngreso">
    <part name="parameters" element="tns:obtenerOrdenIngreso" />
  </message>
  <message name="obtenerOrdenIngresoResponse">
    <part name="parameters" element="tns:obtenerOrdenIngresoResponse" />
  </message>
  <message name="guardarOrdenIngreso">
    <part name="parameters" element="tns:guardarOrdenIngreso" />
  </message>
  <message name="guardarOrdenIngresoResponse">
    <part name="parameters" element="tns:guardarOrdenIngresoResponse" />
  </message>
  <message name="eliminarOrdenIngreso">
    <part name="parameters" element="tns:eliminarOrdenIngreso" />
  </message>
  <message name="eliminarOrdenIngresoResponse">
    <part name="parameters" element="tns:eliminarOrdenIngresoResponse" />
  </message>
  <portType name="OrdenIngresoWS">
    <operation name="listarOrdenesIngreso">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/listarOrdenesIngresoRequest" message="tns:listarOrdenesIngreso" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/listarOrdenesIngresoResponse" message="tns:listarOrdenesIngresoResponse" />
    </operation>
    <operation name="obtenerOrdenIngreso">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/obtenerOrdenIngresoRequest" message="tns:obtenerOrdenIngreso" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/obtenerOrdenIngresoResponse" message="tns:obtenerOrdenIngresoResponse" />
    </operation>
    <operation name="guardarOrdenIngreso">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/guardarOrdenIngresoRequest" message="tns:guardarOrdenIngreso" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/guardarOrdenIngresoResponse" message="tns:guardarOrdenIngresoResponse" />
    </operation>
    <operation name="eliminarOrdenIngreso">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/eliminarOrdenIngresoRequest" message="tns:eliminarOrdenIngreso" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenIngresoWS/eliminarOrdenIngresoResponse" message="tns:eliminarOrdenIngresoResponse" />
    </operation>
  </portType>
  <binding name="OrdenIngresoWSPortBinding" type="tns:OrdenIngresoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarOrdenesIngreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOrdenIngreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarOrdenIngreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenIngreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenIngresoWS">
    <port name="OrdenIngresoWSPort" binding="tns:OrdenIngresoWSPortBinding">
      <soap:address location="http://localhost:8080/StockifyWS/OrdenIngresoWS" />
    </port>
  </service>
</definitions>