Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenSalidaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenSalida" type="tns:eliminarOrdenSalida" />
  <xs:element name="eliminarOrdenSalidaResponse" type="tns:eliminarOrdenSalidaResponse" />
  <xs:element name="guardarOrdenSalida" type="tns:guardarOrdenSalida" />
  <xs:element name="guardarOrdenSalidaResponse" type="tns:guardarOrdenSalidaResponse" />
  <xs:element name="listarOrdenesSalida" type="tns:listarOrdenesSalida" />
  <xs:element name="listarOrdenesSalidaResponse" type="tns:listarOrdenesSalidaResponse" />
  <xs:element name="obtenerOrdenSalida" type="tns:obtenerOrdenSalida" />
  <xs:element name="obtenerOrdenSalidaResponse" type="tns:obtenerOrdenSalidaResponse" />
  <xs:complexType name="listarOrdenesSalida">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesSalidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenSalida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenSalida">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenSalida" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenSalida" />
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
      <xs:element minOccurs="0" name="responsable" type="tns:usuario" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenSalida">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenSalida" type="xs:int" />
      <xs:element minOccurs="0" name="ordenSalida" type="tns:ordenSalida" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stockMaximo" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:empresa" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenVenta" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenVenta" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="tns:tipoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenVenta">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenVenta" type="xs:int" />
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:sequence>
      <xs:element name="idCuentaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="ultimoAcceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenSalida">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenSalidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenSalida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenSalida">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenSalidaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarOrdenSalida">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenSalida" type="tns:ordenSalida" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenSalidaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estadoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="COMPLETADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpresa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="PROVEEDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="OPERARIO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>