Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenCompraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenCompra" type="tns:eliminarOrdenCompra" />
  <xs:element name="eliminarOrdenCompraResponse" type="tns:eliminarOrdenCompraResponse" />
  <xs:element name="guardarOrdenCompra" type="tns:guardarOrdenCompra" />
  <xs:element name="guardarOrdenCompraResponse" type="tns:guardarOrdenCompraResponse" />
  <xs:element name="listarOrdenesCompra" type="tns:listarOrdenesCompra" />
  <xs:element name="listarOrdenesCompraResponse" type="tns:listarOrdenesCompraResponse" />
  <xs:element name="obtenerOrdenCompra" type="tns:obtenerOrdenCompra" />
  <xs:element name="obtenerOrdenCompraResponse" type="tns:obtenerOrdenCompraResponse" />
  <xs:complexType name="eliminarOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenCompra" />
      <xs:element minOccurs="0" name="proveedor" type="tns:empresa" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenCompra">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stockMaximo" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="tns:tipoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompra">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estadoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="COMPLETADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpresa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="PROVEEDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>