Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenVentaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenVenta" type="tns:eliminarOrdenVenta" />
  <xs:element name="eliminarOrdenVentaResponse" type="tns:eliminarOrdenVentaResponse" />
  <xs:element name="guardarOrdenVenta" type="tns:guardarOrdenVenta" />
  <xs:element name="guardarOrdenVentaResponse" type="tns:guardarOrdenVentaResponse" />
  <xs:element name="listarOrdenesVenta" type="tns:listarOrdenesVenta" />
  <xs:element name="listarOrdenesVentaResponse" type="tns:listarOrdenesVentaResponse" />
  <xs:element name="obtenerOrdenVenta" type="tns:obtenerOrdenVenta" />
  <xs:element name="obtenerOrdenVentaResponse" type="tns:obtenerOrdenVentaResponse" />
  <xs:complexType name="obtenerOrdenVenta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:empresa" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenVenta" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenVenta" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="tns:tipoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenVenta">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenVenta" type="xs:int" />
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stockMaximo" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenVenta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenVentaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenVentaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesVenta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpresa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="PROVEEDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="COMPLETADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>