Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenSalidaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.stockify.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenSalidaWS" targetNamespace="http://services.stockify.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/StockifyWS/OrdenSalidaWS?xsd=1" namespace="http://services.stockify.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarOrdenSalida">
    <part name="parameters" element="tns:eliminarOrdenSalida" />
  </message>
  <message name="eliminarOrdenSalidaResponse">
    <part name="parameters" element="tns:eliminarOrdenSalidaResponse" />
  </message>
  <message name="guardarOrdenSalida">
    <part name="parameters" element="tns:guardarOrdenSalida" />
  </message>
  <message name="guardarOrdenSalidaResponse">
    <part name="parameters" element="tns:guardarOrdenSalidaResponse" />
  </message>
  <message name="obtenerOrdenSalida">
    <part name="parameters" element="tns:obtenerOrdenSalida" />
  </message>
  <message name="obtenerOrdenSalidaResponse">
    <part name="parameters" element="tns:obtenerOrdenSalidaResponse" />
  </message>
  <message name="listarOrdenesSalida">
    <part name="parameters" element="tns:listarOrdenesSalida" />
  </message>
  <message name="listarOrdenesSalidaResponse">
    <part name="parameters" element="tns:listarOrdenesSalidaResponse" />
  </message>
  <portType name="OrdenSalidaWS">
    <operation name="eliminarOrdenSalida">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/eliminarOrdenSalidaRequest" message="tns:eliminarOrdenSalida" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/eliminarOrdenSalidaResponse" message="tns:eliminarOrdenSalidaResponse" />
    </operation>
    <operation name="guardarOrdenSalida">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/guardarOrdenSalidaRequest" message="tns:guardarOrdenSalida" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/guardarOrdenSalidaResponse" message="tns:guardarOrdenSalidaResponse" />
    </operation>
    <operation name="obtenerOrdenSalida">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/obtenerOrdenSalidaRequest" message="tns:obtenerOrdenSalida" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/obtenerOrdenSalidaResponse" message="tns:obtenerOrdenSalidaResponse" />
    </operation>
    <operation name="listarOrdenesSalida">
      <input wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/listarOrdenesSalidaRequest" message="tns:listarOrdenesSalida" />
      <output wsam:Action="http://services.stockify.pucp.edu.pe/OrdenSalidaWS/listarOrdenesSalidaResponse" message="tns:listarOrdenesSalidaResponse" />
    </operation>
  </portType>
  <binding name="OrdenSalidaWSPortBinding" type="tns:OrdenSalidaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarOrdenSalida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarOrdenSalida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOrdenSalida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenesSalida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenSalidaWS">
    <port name="OrdenSalidaWSPort" binding="tns:OrdenSalidaWSPortBinding">
      <soap:address location="http://localhost:8080/StockifyWS/OrdenSalidaWS" />
    </port>
  </service>
</definitions>