Stockify/.net/StockifyWeb/Connected Services/StockifyWS/OrdenIngresoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenIngreso" type="tns:eliminarOrdenIngreso" />
  <xs:element name="eliminarOrdenIngresoResponse" type="tns:eliminarOrdenIngresoResponse" />
  <xs:element name="guardarOrdenIngreso" type="tns:guardarOrdenIngreso" />
  <xs:element name="guardarOrdenIngresoResponse" type="tns:guardarOrdenIngresoResponse" />
  <xs:element name="listarOrdenesIngreso" type="tns:listarOrdenesIngreso" />
  <xs:element name="listarOrdenesIngresoResponse" type="tns:listarOrdenesIngresoResponse" />
  <xs:element name="obtenerOrdenIngreso" type="tns:obtenerOrdenIngreso" />
  <xs:element name="obtenerOrdenIngresoResponse" type="tns:obtenerOrdenIngresoResponse" />
  <xs:complexType name="obtenerOrdenIngreso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenIngresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenIngreso" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenIngreso" />
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="responsable" type="tns:usuario" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenIngreso">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="ordenIngreso" type="tns:ordenIngreso" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stockMaximo" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineas" nillable="true" type="tns:lineaOrdenCompra" />
      <xs:element minOccurs="0" name="proveedor" type="tns:empresa" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenCompra">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaOrdenCompra" type="xs:int" />
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="tns:tipoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:sequence>
      <xs:element name="idCuentaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="ultimoAcceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenIngreso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenIngresoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesIngreso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesIngresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenIngreso" type="tns:ordenIngreso" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenIngresoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estadoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="COMPLETADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="RUC" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpresa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="PROVEEDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="OPERARIO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>