Stockify/.net/StockifyWeb/Connected Services/StockifyWS/ProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.stockify.pucp.edu.pe/" targetNamespace="http://services.stockify.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="guardarProducto" type="tns:guardarProducto" />
  <xs:element name="guardarProductoResponse" type="tns:guardarProductoResponse" />
  <xs:element name="listarProductos" type="tns:listarProductos" />
  <xs:element name="listarProductosOrdenadoPorCodigo" type="tns:listarProductosOrdenadoPorCodigo" />
  <xs:element name="listarProductosOrdenadoPorCodigoResponse" type="tns:listarProductosOrdenadoPorCodigoResponse" />
  <xs:element name="listarProductosOrdenadoPorNombre" type="tns:listarProductosOrdenadoPorNombre" />
  <xs:element name="listarProductosOrdenadoPorNombreResponse" type="tns:listarProductosOrdenadoPorNombreResponse" />
  <xs:element name="listarProductosPorCategoria" type="tns:listarProductosPorCategoria" />
  <xs:element name="listarProductosPorCategoriaResponse" type="tns:listarProductosPorCategoriaResponse" />
  <xs:element name="listarProductosResponse" type="tns:listarProductosResponse" />
  <xs:element name="obtenerProducto" type="tns:obtenerProducto" />
  <xs:element name="obtenerProductoResponse" type="tns:obtenerProductoResponse" />
  <xs:complexType name="listarProductosOrdenadoPorCodigo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductosOrdenadoPorCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stockMaximo" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosOrdenadoPorNombre">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductosOrdenadoPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosPorCategoria">
    <xs:sequence>
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosPorCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUEVO" />
      <xs:enumeration value="MODIFICADO" />
      <xs:enumeration value="ELIMINADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>